name: Build Kivy APK

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf /usr/local/lib/android # Removing default old SDKs to make room

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential ccache git python3-dev python3-pip \
            libffi-dev libssl-dev libbz2-dev libreadline-dev \
            libsqlite3-dev libncurses5-dev libncursesw5-dev \
            libgdbm-dev libdb5.3-dev libexpat1-dev liblzma-dev \
            zlib1g-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev \
            libsdl2-ttf-dev libportmidi-dev libswscale-dev \
            libavformat-dev libavcodec-dev ffmpeg autoconf automake \
            libtool pkg-config cmake unzip zip

      - name: Install Buildozer and Cython
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install "cython<3.0.0"
          python3 -m pip install --user buildozer
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Build APK with Buildozer
        run: |
          # Clean ko hata diya hai taaki download resume ho sake
          yes | buildozer -v android debug
        env:
          BUILDOZER_ALLOW_ORG_TEST_DOMAIN: 1
          APP_ACCEPT_SDK_LICENSE: "1"
          BUILDOZER_WARN_ON_ROOT: 0
          GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx2048m"

      - name: Upload APK Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: AdMob-App-Debug
          path: bin/*.apk
          
